[submodule "distDev/ui-angular"]
	path = distDev/ui-angular
	url = https://github.com/PD75/ui-angular
[submodule "distDev/practical-startpage"]
	path = distDev/practical-startpage
[submodule "distDev/practical-startpage"]
	url = https://github.com/PD75/practical-startpage
