.top.image {
  width: 100%;
  height: auto;
  border: 0;
  padding: 0;
  margin: 0;
}

.main.menu {
  margin-top: 0;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.ui.tiny.image {
  width: auto;
  max-height: 60px;
}

.anchor {
  position: relative;
  top: -60px;
}

.ui.button > .image {
  margin: -0.1em 0.4em -0.1em 0.1em;
  height: 16px;
}