<div class="ui segment" ui-sticky-context="vm.stickyContext">
  <div class="left ui rail">
    <div class="ui sticky vertical right floated labeled icon menu" ui-sticky ui-sticky-data="vm.stickyData" ui-sticky-context-id="vm.stickyContext">
      <a class="item" ng-href="{{vm.url}}#about" ng-class="{active:vm.isActive('about')}">
        <i class="info icon"></i> About
      </a>
      <a class="item" ng-href="{{vm.url}}#help" ng-class="{active:vm.isActive('help')}">
        <i class="help icon"></i> Help
      </a>
      <a class="item" ng-href="{{vm.url}}#credits" ng-class="{active:vm.isActive('credits')}">
        <i class="thumbs up icon"></i> Credits
      </a>
    </div>
  </div>
  <div itemscope itemtype="http://schema.org/SoftwareApplication" class="row">
    <img itemprop="image" class="ui centered image" src="img/icon128.png" />
    <h1 itemprop="name" class="ui center aligned header">Practical Startpage</h1>
  </div>
  <div class="row">
    <div class="ui fitted  divider"></div>

    <div class="ui mini horizontal list">
      <div class="fb-like item" data-href="https://chrome.google.com/webstore/detail/practical-startpage/ikjalccfdoghanieehppljppanjlmkcf" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
      <div tweet="vm.like.name" tweet-url="vm.like.url" class="item"></div>
      <div class="item">
        <div linkedin class="linkedinShare" data-url="{{vm.like.url}}" data-title="{{vm.like.name}}" data-summary="Practical Startpage is a simple yet powerful, allowing easy access to browser data, such as bookmarks and history." data-shares="linkedinshares">{{linkedinshares}}</div>
      </div>
      <!--<div class="github item">
        <a class="ui label">
          <i class="github icon "></i> Star
        </a>
      </div>-->
      <div google-plus="vm.like.url" class="item"></div>
    </div>
    <div class="ui fitted divider"></div>
  </div>
  <div class="anchor" id="about"></div>
  <div class="row">
    <br>
    <h2 class="ui center aligned header">About</h2>
    <p>
      Practical Startpage is a simple yet powerful extensions for google chrome, allowing easy access to browser data, such as bookmarks and history.
    </p>
    <ul>
      <li>
        Responsive Design, adjust to all screens
      </li>
      <li>
        Configurable, you can decide what widgets go where
      </li>
      <li>
        Open Source, you can develop your own widgets (GitHub)
      </li>
      <li>
        Bookmark tree with text search and bookmark editor
      </li>
      <li>
        Quicklinks with link from bookmark folder of your choice
      </li>
      <li>
        History, Apps, etc. from chrome
      </li>
      <li>
        RSS Feed for e.g. news
      </li>
    </ul>
    <div class="ui divider"></div>

    <div class="ui stackable equal width grid" ng-if="vm.checkBrowser('Chrome')">
      <div class="column">
        <a class="blue fluid ui button" href="https://chrome.google.com/webstore/detail/practical-startpage/ikjalccfdoghanieehppljppanjlmkcf/reviews" target="_blank">
          <i class="yellow star icon"></i>Rate
        </a>
      </div>

      <div class="column">
        <a class="red fluid ui button" href="https://groups.google.com/forum/#!newtopic/practical-startpage" target="_blank">
          <i class="bug icon"></i>Bugs
        </a>
      </div>
      <div class="column">
        <a class="fluid ui button" href="https://github.com/PD75/practical-startpage" target="_blank">
          <i class="black github icon"></i>Contribute
        </a>
      </div>
      <div class="column">
        <button class="purple fluid ui button" ng-click="vm.install()">
          <img class="image" src="img/chrome_web_store-16.png"/>Install
        </button>
      </div>
    </div>

    <div class="ui items" ng-if="vm.checkBrowser('Firefox')">
      <div class="item">
        <div class="ui tiny image">
          <img src="img/firefox-64.png">
        </div>
        <div class="middle aligned content">
          <div class="header">Firefox</div>
          <div class="content">
            Most of Practical Startpage can be used in firefox. If you wish it to be ported, or help out with porting, click on one of the buttons and add a comment:
          </div>
          <div class="extra">
            <a class="ui tiny google plus button" href="https://groups.google.com/forum/#!topic/practical-startpage/HsJ1yinvLkU" target="_blank">
              <i class="ui google icon"></i> Google Groups
            </a>
            <a class="ui tiny button" href="https://waffle.io/PD75/practical-startpage/cards/57022b8c48d1e6950070b561" target="_blank">
              <i class="ui black github icon"></i>GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui items" ng-if="!vm.checkBrowser('Firefox') && !vm.checkBrowser('Chrome')">
      <a class="item" href="https://www.google.com/chrome/" target="_blank">
        <div class="ui tiny image">
          <img class="ui tiny image" src="img/chrome-a_512.png">
        </div>
        <div class="middle aligned content">
          <div class="header">Google Chrome Browser Required!</div>
          <div class="content">
            This extension is only supported in Google Chrome. Click here to install Chrome.
          </div>
        </div>
      </a>
    </div>

    <div class="ui  divider"></div>
  </div>
  <div class="anchor" id="help"></div>
  <div class="row">
    <br>
    <h2 class="ui center aligned header">Help</h2>

    <!--<h3 class="ui center aligned header">Widgets</h3>-->
    <div class="ui list">
      <div class="item" ng-repeat="item in vm.widgets">
        <i class="large icon" ng-class="item.icon"></i>
        <div class="content">
          <div class="header">{{item.title}}</div>
          <div class="description" ng-bind-html="item.html"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui  divider"></div>
  <br>
  <div class="anchor" id="credits"></div>
  <div class="row">
    <h2 class="ui center aligned header">Credits</h2>
    <!--<h3 class="ui center aligned header">Libraries Used</h3>-->
    <div class="ui middle aligned selection list">
      <a class="item" href="http://semantic-ui.com/" target="_blank">
        <img class="ui tiny image" src="img/logo-semantic-ui.png" />
        <div class="content">
          <div class="header">Semantic UI</div>
          <div class="description">
            User Interface is the language of the web
          </div>
        </div>
      </a>
      <a class="item" href="https://angularjs.org/" target="_blank">
        <img class="ui tiny image" src="img/logo-AngularJS.png" />
        <div class="content">
          <div class="description">
            HTML enhanced for web apps!
          </div>
        </div>
      </a>
      <a class="item" href="http://jquery.com/" target="_blank">
        <img class="ui tiny image" src="img/jquery-mark-dark.gif" />
        <div class="content">
          <div class="description">
            jQuery is a fast, small, and feature-rich JavaScript library.
          </div>
        </div>
      </a>
      <a class="item" href="http://www.jstree.com/" target="_blank">
        <img class="ui tiny image" src="img/logo-jsTree.png" />
        <div class="content">
          <div class="description">
            jsTree is jquery plugin, that provides interactive trees
          </div>
        </div>
      </a>
      <a class="item" href="https://github.com/ezraroi/ngJsTree" target="_blank">
        <div class="content">
          <div class="header">ngJsTree</div>
          <div class="description">
            Angular Directive for the famous JS Tree.
          </div>
        </div>
      </a>
      <a class="item" href="https://github.com/marceljuenemann/angular-drag-and-drop-lists" target="_blank">
        <div class="content">
          <div class="header">angular-drag-and-drop-lists</div>
          <div class="description">
            Angular directives for sorting nested lists using the HTML5 Drag & Drop API.
          </div>
        </div>
      </a>
    </div>
  </div>
  <ui-modal ui-modal-show="vm.showModal" ui-modal-url="vm.modalUrl"></ui-modal>
</div>
