<div ng-include="vm.menuUrl">
</div>

<div itemscope itemtype="http://schema.org/SoftwareApplication" class="row">
  <img itemprop="image" class="ui centered image" src="img/icon128.png" />
  <h1 itemprop="name" class="ui center aligned header">Practical Startpage</h1>
</div>
<div class="row">
  <div class="ui fitted  divider"></div>

  <div class="ui mini horizontal list">

    <div class="fb-like item" data-href="https://chrome.google.com/webstore/detail/practical-startpage/ikjalccfdoghanieehppljppanjlmkcf" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

    <div tweet="vm.like.name" tweet-url="vm.like.url" class="item"></div>

    <div class="item">
      <div linkedin class="linkedinShare" data-url="{{vm.like.url}}" data-title="{{vm.like.name}}" data-summary="Practical Startpage is a simple yet powerful, allowing easy access to browser data, such as bookmarks and history." data-shares="linkedinshares">{{linkedinshares}}</div>
    </div>

    <div google-plus="vm.like.url" class="item"></div>

  </div>
  <div class="ui fitted divider"></div>
</div>
<div class="anchor" id="about"></div>
<div class="row">
  <br>
  <h2 class="ui center aligned header" ng-bind="vm.messages.About">About</h2>
  <div ng-include="vm.getPromotional()">
  </div>
  
  <div class="ui divider"></div>

  <div class="ui stackable equal width grid" ng-if="vm.checkBrowser('Chrome')">
    <div class="column">
      <a class="blue fluid ui button" href="https://chrome.google.com/webstore/detail/practical-startpage/ikjalccfdoghanieehppljppanjlmkcf/reviews" target="_blank">
        <i class="yellow star icon"></i>Rate
      </a>
    </div>

    <div class="column">
      <a class="red fluid ui button" href="https://groups.google.com/forum/#!newtopic/practical-startpage" target="_blank">
        <i class="bug icon"></i>Bugs
      </a>
    </div>
    <div class="column">
      <a class="fluid black basic ui button" href="https://github.com/PD75/practical-startpage" target="_blank">
        <i class="black github icon"></i>Contribute
      </a>
    </div>
    <div class="stackable equal width row">
      <div class="column">
        <button class="purple fluid ui button" ng-click="vm.install()">
            <img class="image" src="img/chrome-a_512.png">Add to chrome
          </button>
      </div>
      <div class="column">
        <a class="blue fluid ui button" href="https://chrome.google.com/webstore/detail/practical-startpage/ikjalccfdoghanieehppljppanjlmkcf" target="_blank">
          <img class="image" src="img/chrome_web_store-16.png">Chrome web store
        </a>
      </div>
    </div>
  </div>

  <div class="ui items" ng-if="vm.checkBrowser('Chrome Mobile')">
    <div class="item">
      <img class="ui tiny image" src="img/chrome-a_512.png">
      <div class="middle aligned content">
        <div class="header">Chrome Mobile</div>
        <div class="content">
          Chrome for mobile devices does not support extensions.
        </div>
      </div>
    </div>
  </div>

  <div class="ui items" ng-if="vm.checkBrowser('Firefox')">
    <div class="item">
      <div class="ui tiny image">
        <img src="img/firefox-64.png">
      </div>
      <div class="middle aligned content">
        <div class="header">Firefox</div>
        <div class="content">
          Most of Practical Startpage can be used in firefox. If you wish it to be ported, or help out with porting, click on one of the buttons and add a comment:
        </div>
        <div class="extra">
          <a class="ui tiny google plus button" href="https://groups.google.com/forum/#!topic/practical-startpage/HsJ1yinvLkU" target="_blank">
            <i class="ui google icon"></i> Google Groups
          </a>
          <a class="ui tiny button" href="https://waffle.io/PD75/practical-startpage/cards/57022b8c48d1e6950070b561" target="_blank">
            <i class="ui black github icon"></i>GitHub
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui items" ng-if="!vm.checkBrowser('Firefox') && !vm.checkBrowser('Chrome') && !vm.checkBrowser('Chrome Mobile')">
    <a class="item" href="https://www.google.com/chrome/" target="_blank">
      <div class="ui tiny image">
        <img class="ui tiny image" src="img/chrome-a_512.png">
      </div>
      <div class="middle aligned content">
        <div class="header">Google Chrome Browser Required!</div>
        <div class="content">
          This extension is only supported in Google Chrome. Click here to install Chrome.
        </div>
      </div>
    </a>
  </div>

  <div class="ui  divider"></div>
</div>

<div class="row">

  <br>
  <div class="anchor" id="help"></div>
  <div class="row">
    <h2 class="ui center aligned header" ng-bind="vm.messages.Help">Help</h2>

    <!--<div class="anchor" id="general"></div>
      <h3 class="ui header">General</h3>-->

    <div class="anchor" id="widgets"></div>
    <h3 class="ui header" ng-bind="vm.messages.Widgets">Widgets</h3>
    <div class="ui list">
      <div class="item" ng-repeat="item in vm.widgets">
        <i class="large icon" ng-class="item.icon"></i>
        <div class="content">
          <div class="header">{{item.title}}</div>
          <div class="description" ng-bind-html="item.html"></div>
        </div>
      </div>
    </div>

    <!--<div class="anchor" id="badges"></div>
      <h3 class="ui header">Badges</h3>-->


    <div class="anchor" id="permissions"></div>
    <h3 class="ui header">Permissions</h3>
    <p>Chrome apps are very restricted and permissions are needed for every interaction. Below follows a listing of all permissions, and how they are used by every part of Practical Startpage:</p>

    <div class="ui list">
      <div class="item">
        <i class="large icon">
            <img src="img/icon32.png">
          </i>
        <div class="content">
          <div class="header">Practical Startpage Core</div>
          <div class="description">
            <ul>
              <li>
                storage: save settings, keep track of version numbers
              </li>
              <li>
                management: check version
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item" ng-repeat="item in vm.widgets">
        <i class="large icon" ng-class="item.icon"></i>
        <div class="content">
          <div class="header">{{item.title}}</div>
          <div class="description">
            <ul>
              <li ng-repeat="permission in item.permissions">
                {{permission}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item" ng-repeat="item in vm.badges">
        <i class="large icon" ng-class="item.icon"></i>
        <div class="content">
          <div class="header">{{item.title}}</div>
          <div class="description">
            <ul>
              <li ng-repeat="permission in item.permissions">
                {{permission}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="ui  divider"></div>

  <br>
  <div class="anchor" id="translation"></div>
  <div class="row">
    <h2 class="ui center aligned header">Translation</h2>
    <div class="anchor" id="languages"></div>
    <h3 class="ui header">Languages</h3>
    <p>Practical Startpage is available in the following Languages.</p>
    <div class="ui relaxed list">
      <div class="item">
        <div class="content">
          <div class="header">English</div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Español/Spanish</div>
          <div class="ui list">
            <div class="item">
              <div class="content">
                <a class="header" href="https://github.com/albertva" target="_blank">@albertva</a>
              </div>
            </div>
            <div class="item">
              <img class="ui avatar image" src="/img/mattias.bengtsson.jpg">
              <div class="content">
                <div class="header">Mattias Bengtsson</div>
              </div>
              <div class="right floated content">
                <a href="https://se.linkedin.com/in/mbengtsson" target="_blank">
                  <div class="ui basic linkedin label">
                    <span>Linked</span>
                    <i class="large fitted linkedin square icon"></i>
                    <span>profile</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Svenska/Swedish</div>
        </div>
      </div>
    </div>
    <br>
    <div class="anchor" id="translate"></div>
    <h3 class="ui header">Translate</h3>

    <p>To make Practical Startpage more accessible your support in translation it is much appreciated.</p>
    <div class="ui relaxed list">
      <div class="item">
        <div class="content">
          <div class="header">Translate through Google Translate</div>
          <div class="description">
            <ul>
              <li>Put a new topic in Google Groups mentioning that you want to Translate</li>
              <li>You will be sent a couple of links to you from Google Translate</li>
              <li>Let me know when you are done</li>
              <li>The translation will be integrated into Practical Startpage</li>
              <li>See credits below to decide how you want to be recognised</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Manage Translation your self</div>
          <div class="description">
            Branch and submit pull request. Details on how to on GitHub.
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Get credit for your hard work</div>
          <div class="description">See options below on how your name will be displayed.</div>
          <div class="ui list">
            <div class="item">
              <img class="ui avatar image" src="/img/rachel.png">
              <span class="content">
                <a class="header">Lindsay</a>
                <div class="description">The picture is a picture of your choice, and here goes a short description</div>
              </span>
            </div>
            <div class="item">
              <img class="ui avatar image" src="/img/rachel.png">
              <div class="content">
                <div class="header">Rachel</div>
                <div class="description">You can also have a button to e.g. homepage or LinkedIn.</div>
              </div>
              <div class="right floated content">
                <a>
                  <div class="ui basic linkedin label">
                    <span>Linked</span>
                    <i class="large fitted linkedin square icon"></i>
                    <span>profile</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">Matthew</a>
                <div class="description">Can also only have description</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">Or Only Name</a>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">@yourTagWithLink</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
    </div>
  </div>


  <br>
  <div class="anchor" id="credits"></div>
  <div class="row">
    <h2 class="ui center aligned header">Credits</h2>
    <!--<h3 class="ui center aligned header">Libraries Used</h3>-->
    <div class="ui middle aligned selection list">
      <a class="item" href="http://semantic-ui.com/" target="_blank">
        <img class="ui tiny image" src="img/logo-semantic-ui.png" />
        <div class="content">
          <div class="header">Semantic UI</div>
          <div class="description">
            User Interface is the language of the web
          </div>
        </div>
      </a>
      <a class="item" href="https://angularjs.org/" target="_blank">
        <img class="ui tiny image" src="img/logo-AngularJS.png" />
        <div class="content">
          <div class="description">
            HTML enhanced for web apps!
          </div>
        </div>
      </a>
      <a class="item" href="http://jquery.com/" target="_blank">
        <img class="ui tiny image" src="img/jquery-mark-dark.gif" />
        <div class="content">
          <div class="description">
            jQuery is a fast, small, and feature-rich JavaScript library.
          </div>
        </div>
      </a>
      <a class="item" href="http://www.jstree.com/" target="_blank">
        <img class="ui tiny image" src="img/logo-jsTree.png" />
        <div class="content">
          <div class="description">
            jsTree is jquery plugin, that provides interactive trees
          </div>
        </div>
      </a>
      <a class="item" href="https://github.com/ezraroi/ngJsTree" target="_blank">
        <div class="content">
          <div class="header">ngJsTree</div>
          <div class="description">
            Angular Directive for the famous JS Tree.
          </div>
        </div>
      </a>
      <a class="item" href="https://github.com/marceljuenemann/angular-drag-and-drop-lists" target="_blank">
        <div class="content">
          <div class="header">angular-drag-and-drop-lists</div>
          <div class="description">
            Angular directives for sorting nested lists using the HTML5 Drag & Drop API.
          </div>
        </div>
      </a>
    </div>

  </div>
  <ui-modal ui-modal-show="vm.showModal" ui-modal-url="vm.modalUrl"></ui-modal>
